.imgIzq {
	background-image: url(../Imagenes/comida.png);
	background-repeat: no-repeat;
	background-size: cover;
}	
.imgDer {
	background-image: url(../Imagenes/aseo.jpg);
	background-repeat: no-repeat;
	background-size: cover
}
.cajas {
	width: 150%;
}
#caja1 {

}
#caja2 {
	
}
#caja3 {
	
}
#caja4 {
	
}
#caja5 {
	
}
#caja6 {
	
}
#caja7 {
	
}
#caja8 {
	
}
#caja9 {
	
}
#caja10 {
	
}
#caja11 {
	
}
#caja12 {
	
}
#caja13 {
	
}